:root {
  --main-font: "Open sans", sans-serif;
  --main-color: #ffffff;
  --main-black-color: #303030;
  --accent-color: #ff6c00;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

a {
  color: currentColor;
  text-decoration: none;
}

img {
  display: block;
}

body {
  font-family: var(--main-font);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.btn {
  font-family: inherit;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border-radius: 25px;
  border: 1px solid #ff6c00;
  background-color: transparent;
  min-width: 160px;
  height: 40px;
}

.section-title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.top-text {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  text-transform: uppercase;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ====================Header====================== */
.header {
  background-color: gray;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-logo {
  margin-right: 131px;
}
.header-list {
  display: flex;
  gap: 30px;
}
.header-item {
}
.header-link,
.header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.1em;
  color: var(--main-color);
  cursor: pointer;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.container-contanct {
  margin-left: auto;
}
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}

.header-button {
  color: var(--main-color);
  margin-left: 40px;
}

.header-button:hover,
.header-button:focus {
  color: var(--accent-color);
}

/* ====================Hero====================== */

.hero {
  background-color: rgb(196, 184, 184);
}

.hero-container {
  display: flex;
}
.hero-list {
  display: flex;
  flex-direction: column-reverse;
  width: 100px;
}
.hero-soc-item {
}
.hero-soc-link {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.2em;

  color: var(--main-black-color);
}
.hero-soc-link:hover {
  color: var(--accent-color);
}

.hero-content {
  padding: 272px 100px 208px 100px;
  background: #7661ca;
  flex-grow: 1;
}

.hero-top-text {
  color: rgba(157, 164, 189, 0.6);
}
.hero-title {
  font-family: "Raleway", sans-serif;
  font-size: 72px;
  line-height: calc(85 / 72);
  letter-spacing: 0.05em;
  color: var(--main-color);
}
.hero-bottom-text {
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;
  color: #9da4bd;
}

/* ====================Section-About====================== */
.about {
}
.about-container {
  display: flex;
  gap: 30px;
}
.about-list {
  display: flex;
  gap: 30px;
}

.about-item {
}

.about-content {
  max-width: 470px;
}
.about-top-text {
  color: var(--main-black-color);
  margin-bottom: 20px;
}
.about-title {
  color: var(--main-black-color);
  margin-bottom: 20px;
}
.about-bottom-text {
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 20px;
}
.about-text {
  font-size: 14px;
  line-height: calc(26 / 14);
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 42px;
}
.about-button {
  color: var(--main-black-color);
}

/* ====================Section-price================== */

.price {
}
.price-top-text {
  color: rgba(157, 164, 189, 0.6);
}

.price-title {
  color: var(--main-color);
}

.price-list {
}
.price-item {
}

.prices-item-text {
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;
  color: #9da4bd;
}

/* ====================Section-benefits================== */

.benefit {
}
.benefit-list {
}

.benefit-item span {
  font-weight: 700;
  font-size: 42px;
  line-height: calc(57 / 42);
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--main-black-color);
}
.benefit-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  text-align: center;
  color: var(--main-black-color);
}
.benefit-top-text {
  color: var(--main-black-color);
}
.benefit-title {
  color: var(--main-black-color);
}
.benefit-bottom-text {
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;
  color: #555555;
}

/* ====================Section-barbers================== */

.barbers {
}
.barbers-top-text {
  color: var(--main-black-color);
}
.barbers-title {
  color: var(--main-black-color);
}
.barbers-list {
}

.barbers-item {
}
.barbers-item-title {
  font-weight: 400;
  font-size: 18px;
  line-height: calc(25 / 18);
  text-align: center;
  letter-spacing: 0.02em;

  color: var(--main-black-color);
}

.barbers-item-text {
  font-size: 14px;
  line-height: calc(19 / 14);
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.barbers-soc-list {
}
.barbers-soc-item {
}
.barbers-soc-link {
}

/* ====================Section-gallary================== */

.gallary {
}
.gallary-top-text {
  color: var(--main-black-color);
}
.gallary-list {
}
.gallary-item {
}

/* ====================Section-online================== */

.online {
}
.online-title {
  color: var(--main-color);
}

/* ====================Section-contacts================== */

.contacts {
}
.contacts-title {
  color: var(--main-color);
}

.contacts-address-link {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.contacts-list {
}

.contacts-item {
}
.contacts-link {
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;
  color: #9da4bd;
}
.contacts-subtitle {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  text-transform: uppercase;
  color: var(--main-color);
}
.contacts-schedule {
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;
  color: #9da4bd;
}

/* ====================Section-footer================== */

.footer {
}
.footer-copy {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.2em;
  color: #9da4bd;
}
.footer-list {
}

.footer-item {
}
.footer-link {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.2em;
  color: var(--main-black-color);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}
